<div class="tf-space flat-logo-slogan flat-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="features-content wow fadeInDown" data-wow-delay="0ms"
                data-wow-duration="1500ms">
                <div class="section-title">
                    <h3 class="section-heading">Our Clients</h3>
                    <div class="features-content-left">
                        <h2>We work with great minds!</h2>
                    </div>
                </div>
                <div class="features-content-right">
                    <p>We are very selective about who we work or partner with. We have worked with small startups and huge corporations but we only do work that excites us and with people who are as passionate as we are.</p>
                </div>
            </div>
        </div>
        </div>
        <div class="tabs-container">
            <div class="swiper-container client-carousel dom-client-carousel">
                <div class="d-flex">
                    <h4>Domestic</h4>
                    <div class="testimonial-btn-slider">
                        <div class="swiper-button swiper-button-next btn-custom-carousel-next"></div>
                        <div class="swiper-button swiper-button-prev btn-custom-carousel-prev"></div>
                    </div>
                </div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide my-4">
                        <div class="slogan-logo">
                            <div class="slogan-line-top"></div>
                            <div class="slogan-line-right"></div>
                            <a href="https://www.questioncloud.in/" target="_blank">
                                <img src="images/domestic-client-logo/qc.png" width="130" alt="images">
                            </a>
                            <div class="slogan-line-left"></div>
                            <div class="slogan-line-bottom"></div>
                        </div>
                    </div>
                    <div class="swiper-slide my-4">
                        <div class="slogan-logo">
                            <div class="slogan-line-top"></div>
                            <div class="slogan-line-right"></div>
                            <a href="https://www.jobslink.in/" target="_blank">
                                <img src="images/domestic-client-logo/jobslink.png" alt="images">
                            </a>
                            <div class="slogan-line-left"></div>
                            <div class="slogan-line-bottom"></div>
                        </div>
                    </div>
                    <div class="swiper-slide my-4">
                        <div class="slogan-logo">
                            <div class="slogan-line-top"></div>
                            <div class="slogan-line-right"></div>
                            <a href="http://aksheyaacollege.in/" target="_blank">
                                <img src="images/domestic-client-logo/aksheyaa-college.png" alt="images">
                            </a>
                            <div class="slogan-line-left"></div>
                            <div class="slogan-line-bottom"></div>
                        </div>
                    </div>
                    <div class="swiper-slide my-4">
                        <div class="slogan-logo">
                            <div class="slogan-line-top"></div>
                            <div class="slogan-line-right"></div>
                            <a href="https://www.hibiscusfoundation.org/" target="_blank">
                                <img src="images/domestic-client-logo/hibiscus.png" alt="images">
                            </a>
                            <div class="slogan-line-left"></div>
                            <div class="slogan-line-bottom"></div>
                        </div>
                    </div>
                    <div class="swiper-slide my-4">
                        <div class="slogan-logo">
                            <div class="slogan-line-top"></div>
                            <div class="slogan-line-right"></div>
                            <a href="https://www.works9to9.com/" target="_blank">
                                <img src="images/domestic-client-logo/works9to9.png" alt="images">
                            </a>
                            <div class="slogan-line-left"></div>
                            <div class="slogan-line-bottom"></div>
                        </div>
                    </div>
                    <div class="swiper-slide my-4">
                        <div class="slogan-logo">
                            <div class="slogan-line-top"></div>
                            <div class="slogan-line-right"></div>
                            <a href="https://www.fixmycycle.com/" target="_blank">
                                <img src="images/domestic-client-logo/fix-my-cycle.png" alt="images">
                            </a>
                            <div class="slogan-line-left"></div>
                            <div class="slogan-line-bottom"></div>
                        </div>
                    </div>
                    <div class="swiper-slide my-4">
                        <div class="slogan-logo">
                            <div class="slogan-line-top"></div>
                            <div class="slogan-line-right"></div>
                            <a href="https://admissions.bharathuniv.ac.in/" target="_blank">
                                <img src="images/domestic-client-logo/bharath.png" alt="images">
                            </a>
                            <div class="slogan-line-left"></div>
                            <div class="slogan-line-bottom"></div>
                        </div>
                    </div>
                    <div class="swiper-slide my-4">
                        <div class="slogan-logo">
                            <div class="slogan-line-top"></div>
                            <div class="slogan-line-right"></div>
                            <a href="https://tagoremch.edu.in/" target="_blank">
                                <img src="images/domestic-client-logo/tagore.png" alt="images">
                            </a>
                            <div class="slogan-line-left"></div>
                            <div class="slogan-line-bottom"></div>
                        </div>
                    </div>
                    <div class="swiper-slide my-4">
                        <div class="slogan-logo">
                            <div class="slogan-line-top"></div>
                            <div class="slogan-line-right"></div>
                            <a href="https://www.theaccordhotels.com/" target="_blank">
                                <img src="images/domestic-client-logo/accord.png" alt="images">
                            </a>
                            <div class="slogan-line-left"></div>
                            <div class="slogan-line-bottom"></div>
                        </div>
                    </div>
                    <div class="swiper-slide my-4">
                        <div class="slogan-logo">
                            <div class="slogan-line-top"></div>
                            <div class="slogan-line-right"></div>
                            <a href="https://sbmch.ac.in/" target="_blank">
                                <img src="images/domestic-client-logo/sree-balaji.jfif" alt="images">
                            </a>
                            <div class="slogan-line-left"></div>
                            <div class="slogan-line-bottom"></div>
                        </div>
                    </div>
                    <div class="swiper-slide my-4">
                        <div class="slogan-logo">
                            <div class="slogan-line-top"></div>
                            <div class="slogan-line-right"></div>
                            <a href="https://www.hdfclife.com/" target="_blank">
                                <img src="images/domestic-client-logo/exide-life.png" alt="images">
                            </a>
                            <div class="slogan-line-left"></div>
                            <div class="slogan-line-bottom"></div>
                        </div>
                    </div>
                    <div class="swiper-slide my-4">
                        <div class="slogan-logo">
                            <div class="slogan-line-top"></div>
                            <div class="slogan-line-right"></div>
                            <a href="https://unionsystechnologies.com/" target="_blank">
                                <img src="images/domestic-client-logo/union-sys.png" alt="images">
                            </a>
                            <div class="slogan-line-left"></div>
                            <div class="slogan-line-bottom"></div>
                        </div>
                    </div>
                    <div class="swiper-slide my-4">
                        <div class="slogan-logo">
                            <div class="slogan-line-top"></div>
                            <div class="slogan-line-right"></div>
                            <a href="https://www.saveetha.com/" target="_blank">
                                <img src="images/domestic-client-logo/saveetha.png" alt="images">
                            </a>
                            <div class="slogan-line-left"></div>
                            <div class="slogan-line-bottom"></div>
                        </div>
                    </div>
                    <div class="swiper-slide my-4">
                        <div class="slogan-logo">
                            <div class="slogan-line-top"></div>
                            <div class="slogan-line-right"></div>
                            <a href="https://www.hibiscuscounselling.com/" target="_blank">
                                <img src="images/domestic-client-logo/hibiscus-counselling.png" alt="images">
                            </a>
                            <div class="slogan-line-left"></div>
                            <div class="slogan-line-bottom"></div>
                        </div>
                    </div>
                   <div class="swiper-slide my-4">
                        <div class="slogan-logo">
                            <div class="slogan-line-top"></div>
                            <div class="slogan-line-right"></div>
                            <a href="https://www.techhighbrows.com/" target="_blank">
                                <img src="images/domestic-client-logo/techhighbrows.png" alt="images">
                            </a>
                            <div class="slogan-line-left"></div>
                            <div class="slogan-line-bottom"></div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination features-bullet"></div>
            </div>
            <div class="swiper-container client-carousel int-client-carousel">
                <div class="d-flex">
                    <h4>International</h4>
                    <div class="testimonial-btn-slider">
                        <div class="swiper-button swiper-button-next btn-custom-carousel-next"></div>
                        <div class="swiper-button swiper-button-prev btn-custom-carousel-prev"></div>
                    </div>
                </div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide my-4">
                        <div class="slogan-logo">
                            <div class="slogan-line-top"></div>
                            <div class="slogan-line-right"></div>
                            <a href="https://mezzlelaw.com/" target="_blank">
                                <img src="images/international-client-logo/mezzle.png" alt="images">
                            </a>
                            <div class="slogan-line-left"></div>
                            <div class="slogan-line-bottom"></div>
                        </div>
                    </div>
                    <div class="swiper-slide my-4">
                        <div class="slogan-logo">
                            <div class="slogan-line-top"></div>
                            <div class="slogan-line-right"></div>
                            <a href="https://www.littleexplorerslc.com.au/" target="_blank">
                                <img src="images/international-client-logo/little-explorers.png" alt="images">
                            </a>
                            <div class="slogan-line-left"></div>
                            <div class="slogan-line-bottom"></div>
                        </div>
                    </div>
                    <div class="swiper-slide my-4">
                        <div class="slogan-logo">
                            <div class="slogan-line-top"></div>
                            <div class="slogan-line-right"></div>
                            <a href="http://topazflex.bluesiliconinfotech.com/" target="_blank">
                                <img src="images/international-client-logo/topazflex.png" alt="images">
                            </a>
                            <div class="slogan-line-left"></div>
                            <div class="slogan-line-bottom"></div>
                        </div>
                    </div>
                    <div class="swiper-slide my-4">
                        <div class="slogan-logo">
                            <div class="slogan-line-top"></div>
                            <div class="slogan-line-right"></div>
                            <a href="https://www.tesylate.co.uk/" target="_blank">
                                <img src="images/international-client-logo/tesylate.png" alt="images">
                            </a>
                            <div class="slogan-line-left"></div>
                            <div class="slogan-line-bottom"></div>
                        </div>
                    </div>
                    <div class="swiper-slide my-4">
                        <div class="slogan-logo">
                            <div class="slogan-line-top"></div>
                            <div class="slogan-line-right"></div>
                            <a href="https://www.na21.co.jp/en/" target="_blank">
                                <img src="images/international-client-logo/nakamoto.png" alt="images">
                            </a>
                            <div class="slogan-line-left"></div>
                            <div class="slogan-line-bottom"></div>
                        </div>
                    </div>
                    <div class="swiper-slide my-4">
                        <div class="slogan-logo">
                            <div class="slogan-line-top"></div>
                            <div class="slogan-line-right"></div>
                            <a href="https://www.modine.com/" target="_blank">
                                <img src="images/international-client-logo/modine.png" width="150" alt="images">
                            </a>
                            <div class="slogan-line-left"></div>
                            <div class="slogan-line-bottom"></div>
                        </div>
                    </div>
                    <div class="swiper-slide my-4">
                        <div class="slogan-logo">
                            <div class="slogan-line-top"></div>
                            <div class="slogan-line-right"></div>
                            <a href="https://studythewrd.com/" target="_blank">
                                <img src="images/international-client-logo/studythewrd.png" alt="images">
                            </a>
                            <div class="slogan-line-left"></div>
                            <div class="slogan-line-bottom"></div>
                        </div>
                    </div>
                    <div class="swiper-slide my-4">
                        <div class="slogan-logo">
                            <div class="slogan-line-top"></div>
                            <div class="slogan-line-right"></div>
                            <a href="https://sabia.no/" target="_blank">
                                <img src="images/international-client-logo/sabiaas.png" alt="images">
                            </a>
                            <div class="slogan-line-left"></div>
                            <div class="slogan-line-bottom"></div>
                        </div>
                    </div>
                    <div class="swiper-slide my-4">
                        <div class="slogan-logo">
                            <div class="slogan-line-top"></div>
                            <div class="slogan-line-right"></div>
                            <a target="_blank">
                                <img src="images/international-client-logo/east-coast-gold-store.png" width="150" alt="images">
                            </a>
                            <div class="slogan-line-left"></div>
                            <div class="slogan-line-bottom"></div>
                        </div>
                    </div>
                    <div class="swiper-slide my-4">
                        <div class="slogan-logo">
                            <div class="slogan-line-top"></div>
                            <div class="slogan-line-right"></div>
                            <a target="_blank">
                                <img src="images/international-client-logo/astute-plus.png" alt="images">
                            </a>
                            <div class="slogan-line-left"></div>
                            <div class="slogan-line-bottom"></div>
                        </div>
                    </div>
                    <div class="swiper-slide my-4">
                        <div class="slogan-logo">
                            <div class="slogan-line-top"></div>
                            <div class="slogan-line-right"></div>
                            <a target="_blank">
                                <img src="images/international-client-logo/blackford.png" alt="images">
                            </a>
                            <div class="slogan-line-left"></div>
                            <div class="slogan-line-bottom"></div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination features-bullet"></div>
            </div>
        </div>
    </div>
</div>

<script src="./js/swiper.js"></script>