<div id="bottom-bar-inner" class="container">
    <div class="bottom-bar-inner-wrap">
        <div class="bottom-bar-content-left link-style-4">
            <div id="copyright" class="copyright"><span class="text">Copyright
                    &copy;
                    <script type="text/javascript">
                        var mdate = new Date().getFullYear().toString();
                        $(document).ready(function () {
                            $('#currYear').text(mdate);
                        })
                    </script>
                    <span id="currYear"></span> <br class="d-block d-md-none">
                    Blue Silicon Infotech Pvt Ltd</span>
            </div>
        </div>
        <div class="bottom-bar-content-right">
            <div class="widget-links-bottom link-style-4">
                <ul>
                    <!-- <li><a href="about.html">About</a></li> -->
                    <!-- <li><a href="service-details.html">Privacy</a></li>
                    <li><a href="service-details.html">Policy</a></li>
                    <li><a href="service-details.html">Customer</a></li> -->
                </ul>
            </div>
        </div>
    </div>
</div>