<div id="footer-top" class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="footer-schedule">
                <div class="heading-schedule">
                    <h2 class="section-40px-barlow font-weight-500">Need Free Consultation ?</h2>
                </div>
                <div class="button-footer">
                    <a href="https://calendly.com/immanuvel/30m" target="_blank" class="button readmore">Book Schedule</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer-widgets" class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="logo-footer">
                <a href="index.html" rel="home" class="main-logo">
                    <img src="images/logo.png" alt="images">
                </a>
            </div>
            <p class="text-widget">Improve efficiency, provide a better customer experience with modern
                technology services around the world. Our skilled staff, combined</p>
            <div class="widget-social">
                <ul>
                    <li><a href="#" class="facebook-icon"></a></li>
                    <li><a href="#" class="twitter-icon"></a></li>
                    <li><a href="#" class="linked-icon"></a></li>
                    <li><a href="#" class="instagram-icon"></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="footer-widgets-nav-menu text-white">
                <div class="menu-1">
                    <h3 class="widget-title-link-wrap">Official Info</h3>
                    <div class="widget-links">
                        <ul class="link-wrap">
                            <li><a href="about.html">About us</a></li>
                            <li><a href="service.html">Services</a></li>
                            <li><a href="portfolio.html">Portfolio</a></li>
                            <li><a href="team.html">Our Team</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                        </ul>
                        <ul class="link-wrap">
                            <!-- <li><a href="service.html">Help</a></li>
                            <li><a href="about.html">History</a></li>
                            <li><a href="contact.html">Support</a></li>
                            <li><a href="contact.html">Privacy</a></li> -->
                            <!-- <li><a href="faq.html">Faq</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="menu-2">
                    <h3 class="widget-title-link-wrap">Useful Links</h3>
                    <ul class="link-wrap menu2">
                        <li><a href="portfolio.html">Strategy &amp; Planning</a></li>
                        <li><a href="about.html">Vision &amp; Values</a></li>
                        <li><a href="service.html">Audit &amp; Assurance</a></li>
                        <li><a href="contact.html">Support &amp; Maintenance</a></li>
                        <li><a href="about.html">Company History</a></li>
                    </ul>
                </div>
                <div class="menu-3">
                    <h3 class="widget-title-link-wrap style-2">Get in Touch</h3>
                    <ul class="widget-list-contact link-style-4">
                        <li class="d-flex">
                            <span class="meta-address"></span>
                            <span>#11, Platinum Tower, First Floor,
                                Old Trunk Road, Pallavaram,
                                Chennai, Tamil Nadu - 600043</span>
                        </li>
                        <li><a href="mailto:info@bs-infotech.com"
                                class="meta-mail"><span class="__cf_email__">info@bs-infotech.com</span></a>
                        </li>
                        <li><a href="tel:7824026188" class="meta-phone">+91 782 402 6188</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>