<header class="container py-1">
    <div class="header-section d-flex justify-content-between align-items-center w-100">
        <div>
            <a href="index.html" class="mainLogo">
                <img src="images/logo.png" alt="" width="200">
            </a>
        </div>
        <div id="navLinks">
            <a href="about.html" class="nav-links">About Us</a>
            <a href="service.html" class="nav-links services-link d-flex align-items-start">Services <i class="down-arrow"></i></a>
            <a href="team.html" class="nav-links">Team</a>
            <a href="portfolio.html" class="nav-links">Portfolio</a>
            <a href="contact.html" class="nav-links">Contact</a>
        </div>
        <div>
            <a href="javascript:void(0);" class="menuBar">
                <div id="nav-icon4">
                    <span class="span1"></span>
                    <span class="span2"></span>
                    <span class="span3"></span>
                </div>
            </a>
        </div>
        <!-- <div class="clearfix"></div> -->
    </div>
    <div class="nav-list services-link" id="navList">
        <div class="py-md-5 px-md-5">
            <div class="d-flex justify-content-around">
                <div class="pr-4">
                    <h4>WANT TO DO BETTER?</h4>
                    <h2>See What We Can <br>
                        Do For You</h2>
                </div>
                <div class="mx-3">
                    <h6>Managed IT Services</h6>
                    <div class="d-flex flex-column">
                        <a href="service.html#web&mobile">Cloud & Infrastructure</a>
                        <a href="service.html#digitalTransformation">Digital Transformation Services</a>
                        <a href="service.html#development">Development Solutions</a>
                        <a href="service.html#iot">IOT (Internet of Things)</a>
                        <a href="service.html#cyberSecurity">Cyber Security</a>
                        <a href="service.html#webApp">Web & Mobile App Development</a>
                        <a href="service.html#uiux">UI & UX Development</a>
                    </div>
                </div>
                <div class="mx-4">
                    <div class="mb-5">
                        <h6>Technology</h6>
                        <div class="d-flex flex-column">
                            <a href="service.html#ai">Artificial Intelligence & Machine Learning</a>
                            <a href="service.html#robotic">Robotic Process Automation (RPA)</a>
                            <a href="service.html#blockchain">Blockchain Technology</a>
                            <a href="service.html#quantum">Quantum Computing</a>
                        </div>
                    </div>
                    <div>
                        <h6>Branding</h6>
                        <div class="d-flex flex-column">
                            <a href="service.html#digitalization">Digitalization Services</a>
                            <a href="service.html#marketing">Digital Marketing</a>
                        </div>
                    </div>
                </div>
                <div class="ml-2">
                    <div class="mb-5">
                        <h6>Consulting</h6>
                        <div class="d-flex flex-column">
                            <a href="service.html#it">IT/Technology Consulting</a>
                            <a href="service.html#businessConsulting">Business Consulting</a>
                            <a href="service.html#hr">HR Consulting</a>
                            <a href="service.html#operations">Operations Consulting</a>
                        </div>
                    </div>
                    <div>
                        <h6>Corporate</h6>
                        <div class="d-flex flex-column">
                            <a href="service.html#plan">Business & Strategy plan</a>
                            <a href="service.html#project">Project Management</a>
                        </div>
                    </div>
                </div>
                <div class="ml-5">
                    <div class="mb-5">
                        <h6>Financial</h6>
                        <div class="d-flex flex-column">
                            <a href="service.html#financial">Financial Consulting</a>
                            <a href="service.html#process">Process Management</a>
                        </div>
                    </div>
                    <div>
                        <h6>Business</h6>
                        <div class="d-flex flex-column">
                            <a href="service.html#planning">Planning & Management</a>
                            <a href="service.html#managedIT">Advanced Analytics</a>
                            <a href="service.html#managedIT">Business Development Services</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<nav id="menus" class="normal">
    <div class="container">
        <ul class="ft-medium">
            <li>
                <a href="about.html">
                    <span class="span1">About Us</span>
                </a>
                <span class="span2">view our world-class work</span>
            </li>
            <li>
                <a href="service.html">
                    <span class="span1">Services</span>
                </a>
                <span class="span2">view our world-class work</span>
            </li>
            <li>
                <a href="team.html">
                    <span class="span1">Team</span>
                </a>
                <span class="span2">view our world-class work</span>
            </li>
            <li>
                <a href="portfolio.html">
                    <span class="span1">Portfolio</span>
                </a>
                <span class="span2">view our world-class work</span>
            </li>
            <li>
                <a href="contact.html">
                    <span class="span1">Contact</span>
                </a>
                <span class="span2">24/7 at your service, always ready for you</span>
            </li>
        </ul>
    </div>
</nav>

<script>
    $(document).ready(function () {

        $(".menuBar").click(function () {
            $("#menus").toggleClass("menu-open");
            $("header").toggleClass("zindex");
            $("#navLinks").toggleClass("nav-links-hide")
        });

        $('#nav-icon4').click(function () {
            $(this).toggleClass('open');
        });

    });

    $(document).ready(function () {
        $(".services-link").mouseenter(function () {
            $("#navList").addClass("nav-list-active");
        });
        $(".services-link").mouseleave(function () {
            $("#navList").removeClass("nav-list-active");
        });
    });
</script>